<div class="content">
  <form #f="ngForm" (ngSubmit)="onSubmit( f )">
    <div class="form-group row group-select">
      <label for="tipo" class="my-1 mr-2">Tipo</label>
        <select class="custom-select my-1 mr-sm-2 tipo" name="tipo" [(ngModel)]="pedido.tipo" required>
          <option value="" disabled selected>Seleccione</option>
          <option value="Manzana">Manzana</option>
          <option value="Pera">Pera</option>
          <option value="Freza">Fresa</option>
          <option value="Freza">Mango</option>
          <option value="Freza">Lulo</option>
          <option value="Freza">coco</option>
        </select>
    </div>
    <div class="form-group row">
      <label for="cantidad" class="col-sm-2 col-form-label" >Cantidad</label>
      <div class="col-sm-10">
        <input type="number" class="cantidad" name="cantidad " [(ngModel)]="pedido.cantidad" required> 
      </div>
    </div>
    <div class="form-group row">
      <label for="precio" class="col-sm-2 col-form-label">Precio</label>
      <div class="col-sm-10">
        <input type="number" class="precio" name="precio" [(ngModel)]="pedido.precio" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Crear Pedido</button>
      </div>
    </div>
  </form>

</div>